Repository ymkz/stylelint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write

.lintstagedrc.json:

{
  "package.json": ["sort-package-json"],
  "*.js": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.yml": ["prettier --write"],
  "*.md": ["prettier --write"]
}

chore(release): 1.0.0
  CHANGELOG.md
Due: prettier --write

chore(config): modify newline config about .node-version
  .editorconfig
  .node-version
Due: none

chore(config): change package.json sorter
  .lintstagedrc.json
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(docs): add peer-deps install block
  README.md
Due: prettier --write

chore(vscode): fix rulers option to follow by prettier
  .vscode/settings.json
Due: prettier --write

feat(deps): activate dependabot
  .dependabot/config.yml
Due: prettier --write

chore(ci): add github actions to publish on tag push
  .github/workflows/publish.yml
  README.md
Due: prettier --write

chore(ci): actions run on push
  .github/workflows/publish.yml
Due: prettier --write

feat: change releaser to semantic-release
  .github/workflows/merge-check.yml
  .github/workflows/release-master.yml
  .releaserc.yml
  package.json
  yarn.lock
Due: sort-package-json, prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: sort-package-json, prettier --write

Notes added by 'git notes add'
  2da299119d9bd4a35362958840b3884b9d2f063c
Due: none
